Open_File
Create_File
Delete_File
Rename_File
Find_File
FIle_Preview
Hidden_Files_Visibillity
Move_File
Copy_File
Cut_File
Create_Folder
Delete_Folder
Rename_Folder
Change_Folder_Permission
Hiden_Folder_Visibillity
Move_Folder
Copy_Folder
Cut_Folder
Partiotions_Harddrive
USB
Disc
Sorting
Ascending
Descending
UI
Favorites
View
Tree
Detail
Icon
Columns
Theme
Light
Dark
User
Rights
